html{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-body{
  display: flex;
  flex-direction: column;
}
.head{
  background-color: rgb(188, 188, 188);
  text-align: center;
}

.score{
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  left:30px;
}
.game{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}
.game-side{
  display: flex;
  flex-direction: column;
  align-items: center
}
.game-side-actions{
  display: flex;
  flex-direction: column;
}
.line{
  height: 100%;
  width: 1px;
  background-color: black;
}

.game-side-board {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button{
  border: none;
  background-color: white;
}
button:hover{
  cursor: pointer;
}