<html>
  <head>
    <link rel="stylesheet" href="../../styles/styles.css">
  </head>
	<body>
		<div class="container-body">
			<div class="head">
				<h2>Piedra, Papel o Tijera</h2>
			</div>
			<div class="score">
				<span></span>
				<small>marcardor</small>
			</div>
			<div class="game">
				<div class="game-side">
					Tu
					<small> Selecciona una opción</small>
					<div class="game-side-actions">
						<img
							src="../assets/hand-paper-svgrepo-com.svg"
							height="87"
							width="100"
						/>
						<img
							src="../assets/hand-rock-svgrepo-com.svg"
							height="87"
							width="100"
						/>
						<img
							src="../assets/hand-scissors-svgrepo-com.svg"
							height="87"
							width="100"
						/>
					</div>
				</div>
				<div class="game-side-board">
					<span>Ganaste</span>
				</div>
				<div class="game-side">
					computadora
					<div class="game-side-actions">
						<img
							src="../assets/hand-paper-svgrepo-com.svg"
							height="87"
							width="100"
						/>
						<img
							src="../assets/hand-rock-svgrepo-com.svg"
							height="87"
							width="100"
						/>
						<img
							src="../assets/hand-scissors-svgrepo-com.svg"
							height="87"
							width="100"
						/>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
